@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Varela+Round&display=swap');

:root {
  --primary-clr: #1186bd;
  --secondary-clr: #e6c55a;
  --primary-light: #fff;
  --secondary-light: #eeeeee;
  --primary-dark: #5f5f5f;
  --secondary-dark: #222;
  --box-shadow: #cacaca;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 500;
  --fw-ex-bold: 700;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 275px auto;
  grid-template-rows: repeat(auto);
}

/* HEADER */

.header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  padding: 20px 40px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

/* HEADER - top */

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-right {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchbar {
  background: var(--secondary-light);
  font-weight: var(--fw-light);

  font-size: .9rem;
  border-radius: 15px;
  height: 30px;
  border: none;
  padding-left: 15px;
  width: 100%;
  transition: 150ms;
}

.searchbar:focus {
  outline: none;
  border: 2px solid var(--primary-clr);
}

.header-top-left {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
}
.header-top-left p {
  font-family: 'Nunito', sans-serif;
}

.header-top img {
  width: 48px;
}

.header-top i {
  color: var(--primary-dark);
  font-size: 1.3rem;
  cursor: pointer
}

.user-name-settings {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Header - bottom */

.header-bottom {
  display: flex;
  justify-content: space-between;
}

.greetings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.greetings img {
  width: 64px;
  margin-right: 20px;
  cursor: pointer;
}

.greetings-text p:last-child {
  font-family: 'Nunito', sans-serif;
}

.user-name {
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
}

.header a {
  color: var(--secondary-dark);
  text-decoration: none;
}

.btn-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-container button {
  background: var(--primary-clr);
  color: var(--primary-light);
  font-weight: var(--fw-bold);
  font-size: 15px;
  border-radius: 15px;
  border: none;
  width: 110px;
  height: 35px;
  box-shadow: 2px 2px 5px var(--box-shadow);
  cursor: pointer;
  transition: 250ms;
}

.btn-container button:hover {
  scale: 103%;
}

/* SIDEBAR */

.sidebar {
  grid-row: 1 / 3;

  font-family: 'Nunito', sans-serif;
  background: var(--primary-clr);
  color: var(--primary-light);
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  padding-top: 2rem;
}

.sidebar-nav li,
.sidebar-settings li{
  padding-bottom: 1rem;
}

.sidebar-logo-container {
  font-size: 2rem;
  font-weight: var(--fw-ex-bold);
  letter-spacing: .1rem;
  padding-bottom: 1rem;
}

.sidebar-logo-container .fa-paw {
  padding-right: 1rem;
}

.sidebar ul {
  margin-left: 5px;
  list-style: none;
  padding: 1rem 0;
}

.sidebar i {
  width: 10px;
  margin: 0 1.2rem;
}

.sidebar a {
  color: var(--primary-light);
  text-decoration: none;
  display: flex;
  gap: 15px;
}

/* MAIN */

.main {
  grid-column: 2 / 3;
  background: var(--secondary-light);

  display: grid;
  grid-template-columns: 2fr minmax(100px, 400px);
  grid-template-rows: auto auto;
}

/* MAIN - projects */

.projects-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  padding: 1.5rem 0 1.5rem 1.5rem;
}

.main-header {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.projects-container .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 2rem;
}

.project-cards {
  cursor: pointer;
  min-height: 250px;
  background: var(--primary-light);
  box-shadow: var(--box-shadow) 2px 2px 5px;
  border-left: 8px solid var(--secondary-clr);
  border-radius: 8px;
  padding: 1.5rem 1.5rem;

  display: flex;
  flex-direction: column;
}

.project-title {
  font-weight: var(--fw-bold);
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.project-text {
  height: 100%;
  font-weight: var(--fw-light);
  font-size: 1.1rem;
  color: var(--primary-dark);
  margin-bottom: 20px;
}

.project-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  color: var(--primary-dark);
  cursor: pointer;
}

/* MAIN - announcements */

.announcement-container {
  padding: 1.5rem;
}

.announcement-container .cards-container {
  background: var(--primary-light);
  border-radius: 8px;
  padding: 1.5rem;
}

.announcement-cards:not(:last-child) {
  border-bottom: 1px solid var(--box-shadow);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.announcement-cards > p:first-child {
  font-weight: var(--fw-bold);
  font-size: 1.1rem;
  margin-bottom: 4px;
}

.announcement-cards > p:nth-child(2) {
  color: var(--primary-dark);
}

/* MAIN - trending */

.trending-container {
  padding: 1.5rem;
}

.trending-container .cards-container {
  background: var(--primary-light);
  border-radius: 8px;
  padding: 1.5rem;
}

.trending-cards {
  display: flex;
  cursor: pointer;
}

.trending-cards:not(:last-child) {
  border-bottom: 1px solid var(--box-shadow);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.trending-cards-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.trending-cards-name {
  font-weight: var(--fw-bold);
}

.trending-cards:not(:last-child) {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.trending-cards img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 48px;
  height: 48px;
}

@media only screen and (max-width: 1000px) {
  body {
    grid-template-columns: 70px auto;
  }

  .header {
    grid-template-rows: 1fr 2fr;
    padding: 20px;
  }

  .header-bottom {
    flex-direction: column;
    gap: 10px;
  }

  .header-top-right {
    min-width: 70%;
    padding-right: 10px;
    gap: 5px;
  }

  .header-bottom .btn-container {
    justify-content: flex-start;
  }

  .sidebar p {
    display: none;
  }

  .projects-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-top: 0;
    padding-right: 1.5rem;
  }

  .projects-container .cards-container {
    grid-template-columns: 1fr;
  }

  .project-cards {
    min-height: 200px;
  }

  .right-side {
    grid-column: 1 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .announcement-container {
    grid-column: 1 / 2;
  }

  .trending-container {
    grid-column: 2 / 3;
  }
}

@media only screen and (max-width: 725px) {
  .announcement-container {
    grid-column: 1 / 3;
  }

  .user-name-settings {
    display: none;
  }

  .trending-container {
    grid-column: 1 / 3;
    padding-top: 0;
  }

  .header-top-right {
    min-width: 95%;
  }

  .btn-container button {
    width: 80px;
    height: 30px;
  }
}